#user_contacts {
    margin-bottom: 5px;
}

#user_contacts > div {
    padding: 0;
}
#user_name_block, #user_email_block {
    width: 254px;
}

#user_name {
    width: 100%;
}

#user_email {
    width: 100%;
    /*margin-left: 2%;*/
}

#user_comment {
    width: 100%;
}

#image_block {
    width: 60px;
    position: relative;
}

#image_block button {
    height: 46px;
    width: 60px;
}

#submit_button {
    margin-right: 20px;
}

#upload_hidden_input {
    height: 46px;
    width: 60px;
    opacity: 0;
    /*visibility: hidden;*/
    position: absolute;
    top: 0;
    left: 0;
    /*margin-left: -145px;*/
}

#uploaded_image {
    display: none;
    max-width: 60px;
    max-height: 46px;
}

#preview_image_block, .image_block {
    float: left;
    width: 60px;
    height: 46px;
}

#preview_image_block img, .image_block img {
    max-width: 60px;
    max-height: 46px;
}

#preview_meta, .meta {
    margin-left: 20px;
    float: left;
}

#preview_meta p, .meta p {
    font-family: "Verdana", "sans-serif";
    /*margin: 0;*/
}

#preview_date, .comment_date {
    font-size: 10px;
    color: #999;
}

#preview, #deactivate_preview_block, #congratulations {
    display: none;
}
